body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.main{
    background: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}